.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin: 0 auto;
    gap: 0;
    align-content: flex-start;
}

.grid-square {
    border: .5px solid #000;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

body h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    margin-top: 50px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 10px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}